@font-face{
    src: url('../fonts/STARGATE.TTF');
    font-family: 'stargate';
}
body {
    width:80% ;
    margin: 0 auto;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    font-family: 'stargate', sans-serif;
    text-align: CENTER;
    padding: 1em;
    background-color: rgb(123, 201, 240);
}
.container {
    display: flex;
    flex-direction: column;
}
.container div {
    margin: 1em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgb(202, 202, 202);
    flex: 1 1 100%;
}
h3 {
    padding: 1em .5em;
}
img {
    margin: 1em auto;
    display: block;
    width: 100%;
}
p {
    padding: .5em .5em;
}

@media screen and (min-width: 672px) {
    .container {
        width: 90%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container div {
        flex: 0 1 40%;
    }
}

@media screen and (min-width: 991px) {
    .container div {
        flex: 1 1 100%;
    }
    img {
        width: 25%;
        display: inline-block;
        padding: .5em;
    }
    p {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        padding: 2em;
    }
}