*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ccc;
}
.title {
    text-align: center;
    font-size: 4em;
    width: 80%;
    margin: .7em auto;
    border-bottom: 1px black solid;
    flex: 1 0 100%;
}
.container_general {
    background-color: #fff;
    width: 600px;
    margin: 5em auto;
    padding: 1em;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.container {
    border-radius: 2.5rem;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: yellow;
    background-image: linear-gradient(#fff, #665B4C);
}
.container_singular {
    text-align: center;
    flex: 1 1 90%;
}
.container_linea3 {
    text-align: center;
    aspect-ratio: 4 / 5;
    flex: 1 0 30%;
}
.container_linea2 {
    text-align: center;
    aspect-ratio: 5 / 6;
    flex: 1 0 45%;
}
img {
    padding: 2em 0 0;
    width: 80%;
    text-align: center;
}
.nombre {
    font-size: 2rem;
    color: white;
    background-color: #333;
    width: fit-content;
    padding: .2em .5em;
    border-radius: 10px;
    margin: auto;
}