* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*DISEñOS GENERALES PARA TODAS LAS VISTAS*/

body {
    font-family: 'Roboto Flex', sans-serif;
    color: whitesmoke;
    background-color: #01010B;
    background-image: url('../img/bg/wormhole.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header, main {
    max-width: 1200px;
}
main {
    margin: auto;
}
img {
    width: 100%;
    display: block;
}
h1, h2,h3,h4 {
    padding: .5rem;
    margin: .5rem 0;
    text-transform: uppercase;
}
h2 {
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px white;
    text-align: center;
}
h3 {
    font-size: 1.9rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: right;
    color: rgb(125, 187, 187);
}
p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-shadow: 2px 2px 3px black;
}

/*Estilos generales del header y nav*/
.header-bg {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background: url(../img/bg/sg1.jpg) center no-repeat black;
    background-size: cover;
    background-position: top left;
}
nav > div {
    margin: .5rem .3rem;
    padding: .5rem 0;
    width: 16ch;
    border-bottom: thin whitesmoke solid;
    cursor: pointer;
    text-shadow: 1px 1px grey;
}
nav > div:nth-child(1) {
    margin-top: 4rem;
}
nav > div:last-child {
    margin-bottom: 1rem;
}
nav > div > img {
    display: none;
}

/*Estilos Generales del main*/
/*Estilos Generales de la seccion historia*/
main > h2 {
    background-image: linear-gradient(black,black,  transparent);
    border-top: 2px solid rgb(84, 134, 221);
}
.historiaTexto {
    padding: 0 1rem;
}
section {
    margin: 2rem 0 0;
    padding: 2rem 0;
    background-color: #01010b79;
    border: thin solid transparent;
    overflow: auto;
}
.historiaBanner, .historiaPoster {
    display: none;
}

/*Estilos generales de la sección personajes*/

.perfil_personaje {
    font-size: 1rem;
    border-top: thin solid rgba(245, 245, 245, 0.712);
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.perfil_personaje h4 {
    padding: .5em 1.2em;
    font-size: 1.5rem;
    text-align: center;
}
.perfil_personaje p {
    padding: 1rem;
    font-size: 1.2rem;
    border-top: thin solid rgba(245, 245, 245, 0.712);

}
.perfil_personaje .rowImg img {
    max-width: 500px;
    margin: auto;
}
.perfil_personaje .rowActor {
    max-width: 500px;
    margin: auto;
    padding: 10px 10px;
    font-size: 0.9rem;
    text-align: right;
    color: rgb(192, 213, 249);
    border-top: thin solid rgba(245, 245, 245, 0.712);

}
.perfil_personaje .rowLink {
    padding: 0 0.5rem 1rem;
    text-align: right;
    text-transform: uppercase;
    margin-top: 1rem;
}

/*ES DECIR SIEMPRE QUE LA PANTALLA TENGA AL MENOS 576px*/
/*DIGAMOS, UNA TABLET*/
@media screen and (min-width:576px) {
    .header-bg {
        background: url(../img/bg/sg1.jpg) no-repeat black;
        background-size: fixed;
        background-position: bottom right;
    }
    nav > div {
        font-size: 1.2em;
    }
    main > h2 {
        display: none;
    }
    #historia {
        margin-top: 0;
        padding-top: 0;
        display: flex;
        flex-flow: column;
    }
    .historiaBanner {
        display: block;
        order: -1;
        padding: 0;
    }
    #personajes > :nth-child(2){
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .perfil_personaje{
        flex: 0 1 calc(350px - 1rem);
    }
    
}

/*ES DECIR SIEMPRE QUE LA PANTALLA TENGA AL MENOS 993px DISPONIBLES*/
/*DIGAMOS, UNA PC*/
@media screen and (min-width:993px) {
    body {
        background-color: #101035;
        background-image: none;
    }
    .header-bg {
        display: block;

        background: black;
    }
    h1 {
        width: 100vw;
        text-align: center;
        font-size: 3rem;
    }
    nav {
        background-color: #101035;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
    }
    nav > div:nth-child(1) {
        margin: 0.5rem 0.3rem;
    }
    nav > div:last-child {
        margin: 0.5rem 0.3rem;
    }
    nav > div {
        display: block;
        max-width: 155px;
        padding: 1rem 0; 
        cursor: pointer;
        border-bottom: none;
    }

    nav>div:not(:last-child) {
        margin-right: 1.5rem;
        padding-right: 1.5rem;
        border-right: thin solid whitesmoke;
    }

    nav>div>img {
        display: block;

    }

    nav>div>span {
        display: none;

    }
    main{
        max-width: 1250px;
        background-image: url('../img/bg/wormhole.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    h3 {
        padding: .5rem 2rem;
    }
    #historia {
        font-size: 0;
        flex-wrap: wrap;
        flex-direction: row;
        vertical-align: middle;
    }
    #historia h3 {
        margin: 2rem 0;
        flex: 0 1 100%;
    }
    .historiaBanner {
        flex: 0 1 100%;
    }
    .historiaPoster {
        display: block;
        flex: 1 1 500px;
    }

    .historiaTexto {
        padding: 0 2rem;
        font-size: 1rem;
        
        flex: 1 1 400px;
    }
    .historiaTexto > p {
        line-height: 1.5rem;
    }
    #personajes > :nth-child(2){
        gap: 2rem;
    }
 }
 @media screen and (min-width:1150px) {
    .historiaTexto > p {
        line-height: 2rem;
    }
 }